:root {
    --color-1: #FFFFFF;
    --color-2: #000000;
}

@font-face {
    font-family: "Roboto_Condensed-Regular";
    src: url(../storage/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}